*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*-----Navbar----*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0  90px;
    background-color: aqua;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.7);
}
.logo{
    width: 35px;
    cursor: pointer;
    
}

.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 15px 15px;
}
.nav-links li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 350;
}
.nav-links li a:hover{
    color: orangered;
}
.search{
    display: flex;
    align-items: center;
    background: #efefef;
    border-radius: 50px;
    padding: 0px 5px;
}

.search:hover{
    border: 1px solid red;
}

.search img{
    width: 23px;
    padding: 5px 3px;
}

.search input{
    background-color: #efefef;
    border: none;
    outline: none;
    font-size: 13px;
    font-weight: 50;
}
nav .fa-bars{
    display: none;
}


/*---Register----*/
.login-page{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/logbg2.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 50px;
}
.form-box{
    width: 800px;
    height: 550px;
    background: rgba(0,0,0,0.3);
    margin: 0px auto 10px;
    border-radius: 25px;
}
.title{
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    padding-top: 25px;
    color: #ff105f;
}
.title span{
    color: #ffad06;
}
.input-login{
    padding: 40px 30px;
}

.input-field{
    outline: none;
    width: 45%;
    padding: 10px 35px;
    margin: 10px 15px;
    border: none;
    border-radius: 50px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 20px;
}
.submit-btn{
    width: 35%;
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.submit-btn:hover{
    background: red;
}
.input-login p{
    color: #efefef;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    padding-bottom: 10px;
}
.input-login p a{
    padding-right: 10px;
    color: #ffad06;
}
.log{
    text-align: center;
    color: #efefef;
    padding-top: 5px;

}
.icons {
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.icons a{
    text-decoration: none;
    color: #fff;
}
.icons i{
    padding-left: 25px;
    padding-bottom: 5px;
}
.icons i:hover{
    color: #ffad06;
}

/*---Footer----*/
.footer{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    background-color: aqua;
    padding: 20px 40px;
}

.footer .contact img{
    width: 100px;
    padding: 15px 20px;
    border-radius: 100%;
    background: white;
    cursor: pointer;
}
.footer .contact h2{
    padding-top: 20px 0px;
    padding-bottom: 10px;
}
.contact p{
    padding: 5px 0px;
}
.contact h3{
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer .contact i{
    font-size: 25px;
    cursor: pointer;
}
.contact a{
    text-decoration: none;
    color: black;
}

.contact i{
    padding: 7px 0px;
}

.contact i:hover{
    color: #ff105f;
}

.follow i{
    padding-left: 15px;
}

.footer .about{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.about h3{
    padding-top: 20px;
    padding-bottom: 20px;
}
.about a{
    text-decoration: none;
    padding: 7px 0px;
    color: black;
    font-weight: 500;
    font-size: 15px;
}
.account{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.account h3{
    padding-top: 20px;
    padding-bottom: 20px;
}
.account a{
    text-decoration: none;
    padding: 7px 0px;
    color: black;
    font-weight: 500;
    font-size: 15px ;

}
.app h3{
    padding-top: 20px;
    padding-bottom: 20px;
}
.app p{
    padding-bottom: 10px;
}
.app img{
    display: flex;
    flex-direction: column;
    width: 100px;
}
.footer  hr{
    background: black;
    height: 1px;
    width: 300%;
    border: 0px;
}
.copy{
    padding-top: 8px;
}
.copy p{
    margin-left:50px;
}


/*---contact page--*/
.contact-page{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/logbg3.jpg);
    background-position: center;
    background-size: cover;
}
.active{
    position: relative;
}
.active::after{
    content: '';
    background: red;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -8px;
    border-radius: 2px;
}
.img{
    text-align: center;
}
.img img{
    height: 100px;
    padding-top: 20px;
}
.page{
    text-align: center;
}
.page h1{
    font-size: 40px;
    padding-top: 10px;
}
.page p{
    font-size: 20px;
    font-weight: 300;
    padding-top: 10px;
    padding-bottom: 40px;
}


.help{
    width: 800px;
    height: 100px;
    margin: 0 auto 30px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    background: #efefef;
}
.help i{
    font-size: 50px;
}
.help h4{
    background: linear-gradient(to right, #ff105f,#ffad06);
    padding: 6px 10px;
    border-radius: 10px;
}

.hep{
    text-align: start;
    padding-top: 30px;
    padding-right: 35px;
}
.hep p{
    color: darkgrey;
}


/*---cart page--*/
.container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.container .products{
    width: 60%;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}
.list-right{
    width:250px;
    min-width: 250px;
    padding : 20px 20px;
    border: 4px solid orangered;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    margin-top: 30px;
}

.list-right:hover .des h1 span{
    color: orangered;
}
.list-right img{
    width: 200px;
    height: 250px;
    border-radius: 15px;
}
.des{
    text-align: center;
}
.des h1{
    font-size: 25px;
    font-weight: 300;
    padding-top: 10px;
    
}
.des p{
    padding-top: 10px;
}

.price h2{
    padding-top: 10px;
}
.cart{
    text-align: center;
    padding-top: 30px;
}
.cart a{
    text-decoration: none;
    color: black;
    background: linear-gradient(to right, #ff105f,#ffad06);
    padding: 7px 40px;
    border-radius: 10px;
    transition: 1s;
}
.cart a:hover{
    box-shadow:0px 0px 12px 0 rgba(0, 0, 0,0.7);
}

/*My cart*/
.mycart{
    width: 40%;
}

.list-left{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
    margin-top: 45px;
    background: #ff105f;
}
.list-left i{
    font-size: 23px;
}
.cart-pro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}
.cart-pro img{
    width: 50px;

}
.cart-pro i:hover{
    color: #ff105f;
}

.mycart hr{
    border: 1px solid black;
    margin-top: 10px;
}
.mycart h5{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}
.mycart h5 span{
    text-align: center;
    padding-left: 95px;
}
.checkout{
    text-align: center;
    margin-top: 30px;
}
.checkout a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    background: #ffad06;
    padding: 8px 60px;
    border-radius: 10px;
    transition: 1s;
}

.checkout a:hover{
    background: lightskyblue;
}



/*---Navbar--*/
@media (max-width: 1050px){
    .logo{
        position: fixed;
        top: 4%;
        left: 7%;
    }
    nav{
        position: fixed;
        top: 0;
        display: inline-block;
        width: 100%;
        max-height: 100px;
        padding: 100px 7% 0;
        text-align: right;
        overflow: hidden;
        transition:  0.5s;
    }
    nav .nav-links li{
        display: block;
        margin: 15px 0p;
    }
    nav .nav-links {
        right: 105px;
    }
    nav .fa-bars{
        position: fixed;
        top: 4.5%;
        display: block;
        right: 30px;
        font-size: 25px;
    }
    .hidemenu{
        max-height: 350px;
    }
    .search{
        position: fixed;
        top: 4.5%;
        left: 25%;
    }
 }
 @media screen and (max-width: 500px){
    .search{
        display: none;
    }
 }
 

/*---cart page--*/
@media screen and (max-width: 1050px){
    .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .products{
        width: 100%;
    }
    .mycart{
        width: 100%;
    }
    .mycart h5{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }   
}
  /*---contact page--*/

  @media screen and (max-width: 800px) {
    .contact-page{
     width: 100%;
     height: 110vh;
    }
    .help{
        width: 450px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 10px;
    }
    .hep{
        padding-left: 25px;
    }
    .hep h3{
        font-size: 20px;
    }
    .hep p{
        font-size: 15px;
    }
 
 }
 @media screen and (max-width: 460px) {
    .contact-page{
        width: 100%;
        height: 110vh;
    }
    .page{
        width: 90%;
    }
    .page p{
        font-size: 18px;
    }
    .help{
        width: 350px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0 10px;
    }
    .hep{
        padding-left: 35px;
    }
  
  }


/*---register page--*/
@media (max-width: 1050px){
   
    
    .login-page{
        margin-top: 100px;
        height: 110vh;
        
    }
    .form-box{
        width: 90%;
        height: 100vh;
    }
    .input-field{
       width: 90%;
       padding: 10px 25px;
       margin: 10px 10px;
    }
}

/*---footer--*/
@media (max-width: 1050px){
    .footer{
        display:flex; 
        flex-wrap: wrap;
    }

    .footer .account{
        margin-left: 30px;
    }
    
    .footer .about{
        margin-left: 30px;
    }

}





